[{woap, [
      {http, [{port,8080}]},
      {https, [{port, 8443},{certfile, "/path/to/certfile"},{keyfile, "/path/to/keyfile"}]},
      % {cache_provider, {ets, []}}
      {storage_provider, {mysql, [
        {database, "wechat"},
        {host, "127.0.0.1"}, 
        {port, 3306}, 
        {user, "root"},
        {password, "123456"}
      ],[{size, 2}, {max_overflow, 4}]}}
    ]},
  {lager,[
      % {log_root, "/var/log/hello"},
      {handlers, [
          {lager_console_backend, [{level, info}]},
          {lager_file_backend, [{file, "error.log"}, {level, error},{size, 10485760}, {date, "$D0"}, {count, 10}]},
          {lager_file_backend, [{file, "console.log"}, {level, info},{size, 10485760}, {date, "$D0"}, {count, 2}]}
        ]}
  ]}
].